.backg{
  width: 100vw;
  height: 100vh;
  position: fixed;
  /*background: url("/assets/backg.webp") fixed;*/
  background-size: cover;
  display: block;
  top: 0;
  left: 0;
  z-index: -5;
  filter: blur(5px);
}
